html {
    background: white;
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: 0 auto;
    font-family: Helvetica;
}

section,
header,
footer,
nav {
    display: block;
}

div,
section,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

header {
    background: dodgerblue;
    height: 100px;
    padding: 12px 0 0 32px;
}

header img.logo {
    vertical-align: middle;
    height: 80px;
    width: auto;
}

header p {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    font-size: 2em;
    font-variant: small-caps;
}

nav {
    margin-bottom: 16px;
    background-color: black;
    color: white;
    height: 70px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float: right;
}

nav li {
    display: inline-block;
    height: 40px;
    width: 70px;
}

nav li a {
    text-decoration: none;
    color: white;
}

h1 {
    font-weight: normal;
    color: white;
}

h2 {
    font-weight: normal;
    font-variant: small-caps;
}

p {
    line-height: 1.5;
}

.col1 {
    float: left;
    padding-left: 32px;
    width: 512px;
}

.col2 {
    float: right;
    padding-right: 32px;
    width: 352px;
}

footer {
    clear: both;
    background: dodgerblue;
    height: 80px;
    width: 960px;
    /* center child content horizontally */
    text-align: center;
    /*vertical-align: middle;
    line-height: 80px; */
}
footer p {
    /* center vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.clearfix {
    clear: both;
}
/* main {
    border: 5?px solid red;
} */